<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Main Page</title>
</head>
<body>
 {{> header}}
 <a href="./"></a>
 <h2>Aktulny rok to {{getCurrentYear}}</h2>
  <p>{{screamIt 'ciekawe czy to dziala'}}</p>
  <a href="/projects">Projects page</a>
  {{> footer}}
</body>
</html>