<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Projects Page</title>
</head>
<body>
 {{> header}}
 <h1>Welcome to portfolio site</h1>
 <a href="/">Back to Main page</a>
 
  {{> footer}}
</body>
</html>